@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.App > .spinner-grow {
    position: absolute;
    left: 50%;
    top: 50%;
}



.flex-middle {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.company-logo {
    max-width: 250px!important;
}

.header-background {
    background-color: #e9ecef;
}

.pdf-viewer {
    height: 1200px;
}


.d-flow-root {
    /* https://css-tricks.com/display-flow-root/ */
    display: flow-root;
}

body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
